[submodule ".vim/pack/cmvanb/start/nerdtree"]
	path = .vim/pack/cmvanb/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule ".vim/pack/cmvanb/start/vim-surround"]
	path = .vim/pack/cmvanb/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
	branch = master
[submodule ".vim/pack/cmvanb/start/vim-easymotion"]
	path = .vim/pack/cmvanb/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion.git
	branch = master
[submodule ".vim/pack/cmvanb/start/ale"]
	path = .vim/pack/cmvanb/start/ale
	url = git@github.com:w0rp/ale.git
	branch = master
[submodule ".vim/pack/cmvanb/start/vim-javascript"]
	path = .vim/pack/cmvanb/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule ".vim/pack/cmvanb/start/vim-jsx"]
	path = .vim/pack/cmvanb/start/vim-jsx
	url = git@github.com:mxw/vim-jsx.git
[submodule ".vim/pack/cmvanb/start/vim-es6"]
	path = .vim/pack/cmvanb/start/vim-es6
	url = git@github.com:isRuslan/vim-es6.git
[submodule ".vim/pack/cmvanb/start/vim-json"]
	path = .vim/pack/cmvanb/start/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule "vim/pack/cmvanb/start/typescript-vim"]
	path = vim/pack/cmvanb/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/pack/cmvanb/start/typescript-vim"]
	path = .vim/pack/cmvanb/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule ".vim/external-plugins/gvimfullscreen"]
	path = .vim/external-plugins/gvimfullscreen
	url = git@github.com:xqin/gvimfullscreen.git
[submodule ".vim\\pack\\cmvanb\\start\\ctrlp"]
	path = .vim\\pack\\cmvanb\\start\\ctrlp
	url = git@github.com:ctrlpvim/ctrlp.vim.git
